@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Kalam');
@import url('https://fonts.googleapis.com/css?family=Spectral+SC');

/*html {
    height: 100%;
}*/

/*body {
    width: 100%;
    height: 100%;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}*/

body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.ie9 {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    background-color: white;
}

.ie9 p {
    position: absolute;
    top: 25%;
    left: 50%;
    font-size: 24px;
    text-align: center;
    width: 700px;
    margin-left: -350px;
}

.loader-container {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: white;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes bob {
    0% {transform: translateY(0px);}
    13.3% {transform: translateY(-32px);}
    16.6% {transform: translateY(0px);}
    20% {transform: translateY(-25px);}
    21.6% {transform: translateY(0px);}
    23.3% {transform: translateY(-10px);}
    25% {transform: translateY(0px);}
    100% {transform: translateY(0px);}
    
}

.loader {
    position: absolute;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #138F34; 
    border-bottom: 16px solid #FF6309;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    margin-left: -60px;
    margin-top: -120px;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.loader-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: 50px;
    width: 300px;
    height: auto;
}

div.logo h2 {
    color: black;
    font-family: 'Spectral SC', serif;
    margin-top: 0px;
}

img.gdpr-img {
    width: 80px;
    height: auto;
}

#returntotop {
    opacity: 1;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.7);
    width: 50px;
    height: 50px;
    border-radius: 35px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    z-index: 99999;
}

#returntotop div.returntotop-icon {
    position: relative;
    color: #fff;
    left: 6px;
    transition: all 0.5s ease-in-out;
}

#returntotop:hover {
    background: rgba(0,0,0,0.9);
}

#returntotop:hover div.returntotop-icon {
    transform: translateY(-5px);
}

#returntotop div.returntotop-icon i {
    position: absolute;
    display: block;
    height: 6px;
    background: #fff;
    width: 24px;
    left: 0px;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
    top: 20px;
}

#returntotop div.returntotop-icon i:nth-child(1) {
    transform: rotateZ(-45deg);
}

#returntotop div.returntotop-icon i:nth-child(2) {
    left: 14px;
    transform: rotateZ(45deg);
}

#returntotop.returned {
    opacity: 0;
    visibility: hidden;
    background: transparent;
}

#returntotop.returned div.returntotop-icon i:nth-child(1) {
    background: transparent;
    left: -60px;
    transform: rotateZ(360deg);
}

#returntotop.returned div.returntotop-icon i:nth-child(2) {
    background: transparent;
    left: 60px;
    transform: rotateZ(-360deg);
}

#mobilenavigation {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.7);
    border-radius: 35px;
    cursor: pointer;
    z-index: 99999;
    transition: all 0.3s ease;
}

#mobilenavigation div {
    position: relative;
    color: #fff;
    left: 8px;
    top: -7px;
}

#mobilenavigation div i {
    position: absolute;
    display: block;
    height: 3px;
    background: white;
    width: 24px;
    left: 0px;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
}

#mobilenavigation div i:nth-child(1) {
    top: 17px;
}

#mobilenavigation div i:nth-child(2) {
    top: 25px;
}

#mobilenavigation div i:nth-child(3) {
    top: 33px;
}

#mobilenavigation div.open-menu i {
    height: 4px;
}

#mobilenavigation div.open-menu i:nth-child(1) {
    top: 25px;
    transform: rotateZ(135deg);
}

#mobilenavigation div.open-menu i:nth-child(2) {
    top: 25px;
    background: transparent;
    left: -30px;
    transform: rotateZ(180deg);
}

#mobilenavigation div.open-menu i:nth-child(3) {
    top: 25px;
    transform: rotateZ(-135deg);
}


#navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.7);
    transition: all 0.3s ease;
    z-index: 99998;
    overflow: hidden;
}

ul.main-navigation {
    list-style: none;
    margin: 0;
    padding-top: 55px;
    padding-left: 0px;
    width: 100%;
    white-space: nowrap;
}

ul.main-navigation li {
    display: block;
    padding: 14px 16px;
    color: #fff;
    transition: all 0.3s ease;
    cursor: pointer;
}

ul.main-navigation li:last-of-type {
    padding: 0px;
    background: rgba(31,142,44,0.5);
}

ul.main-navigation li:hover {
    background: rgba(0,0,0,0.9);
}

ul.main-navigation li:last-of-type:hover {
    background: rgba(31,142,44,0.9);
}

ul.main-navigation a {
    text-decoration: none;
    color: #fff;
    width: 100%;
    height: 100%;
    display: block;
    padding: 14px 16px;
}

ul.main-navigation a:hover {
    text-decoration: none;
}

.animate-bob {
    animation: bob 5s ease-in-out infinite;
}

h1, h2 {
    font-family: 'Josefin Sans', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.slide {
    width: 100%;
    height: 100%;
    height: 100vh;
}

.slide-one {
    background: url(../bg_img/draft5.jpg) no-repeat center center;
    background-size: cover;
}

.slide-two {
    background: url(../bg_img/about_us.jpg) no-repeat center center;
    background-size: cover;
}

.slide-two-expand {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45b4d1+0,79bdce+100 */
    background: #45b4d1; /* Old browsers */
    background: -moz-linear-gradient(top, hsla(192,60%,55%,1) 0%, hsla(192,46%,64%,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, hsla(192,60%,55%,1) 0%,hsla(192,46%,64%,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, hsla(192,60%,55%,1) 0%,hsla(192,46%,64%,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45b4d1', endColorstr='#79bdce',GradientType=0 ); /* IE6-9 */
}

.slide-three {
    background: url(../bg_img/draft2c.jpg) no-repeat center center;
    background-size: cover;
}

.slide-three-expand {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c3def3+0,d0d9e0+100 */
    background: rgb(195,222,243); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(195,222,243,1) 0%, rgba(208,217,224,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(195,222,243,1) 0%,rgba(208,217,224,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(195,222,243,1) 0%,rgba(208,217,224,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3def3', endColorstr='#d0d9e0',GradientType=0 ); /* IE6-9 */
}

.slide-four {
    background: url(../bg_img/id.jpg) no-repeat center center;
    background-size: cover;
}

.slide-four-expand {
    border-bottom: 2px dashed rgba(0,0,0,0.7);
}

.slide-five h1 {
    margin-bottom: 30px;
}

.container-fluid.expand-content {
    background-color: transparent;
    /* height: 100vh; /* REMOVE */
}

.img-container {
    width: 90%;
    height: auto;
    margin: 0 auto;
}

.img-container img {
    width: 100%;
    height: auto;
}

.img-container h2 {
    background-color: rgba(0,0,0,0.1);
    /*border-top-left-radius: 10px;
    border-top-right-radius: 10px;*/
    margin-bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.img-container p {
    background-color: rgba(0,0,0,0.1);
    /*border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;*/
    padding: 10px;
}

*.slide-one {
    color: white;
}

.slide-one p {
    font-size: 120%;
}

*.slide-two {
    
}

.content h1, .slide-fourfive h1 {
    font-size: 350%;
}

.content p {
    font-size: 150%;
    padding: 20px;
}

.wrapper {
    background-color: lightgrey;
}

.container {
    background-color: white;
}

#intro_b {
    display: none;
}

#about_b {
    display: none;
}

#schoolphotography_b {
    display: none;
}

#idservices_b {
    display: none;
}

.map {
    height: 250px;
    width: 100%;
    margin: 0 auto;
}

.contact-list {
    list-style: none;
}

.contact-list-icon {
    padding-top: 10px;
}

.contact-list-icon::before {
    font-family: 'Glyphicons Halflings';
    float: left;
    margin-top: 0px;
    margin-left: -22px;
}

.icon-email::before {
    content: "\2709";
}

.icon-phone::before {
    content: "\e182";
}

.icon-address::before {
    content: "\e062";
}

.slide-fourfive div > a {
    text-decoration: none;
    color: inherit;
}

.slide-fourfive h2:not(:first-child) {
    margin-top: 50px;
}

.question::before {
    content: "Q.";
    font-family: 'Kalam', cursive;
    margin-right: 10px;
    float: left;
}

.question-anchor {
    width: 100%;
}

.question-anchor div.chevron-container {
    transition: 0.3s transform ease-in-out;
    float: right;
    position: relative;
    right: 5px;
    top: 9px;
    width: 30px;
    height: 30px;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.7);
    border-radius: 35px;
    cursor: pointer;
    transition: all 0.2s ease;
    display: inline-block;
}

.chevron-main {
    position: relative;
    color: #fff;
    left: 3px;
    top: -11px;
}

.chevron-main i {
    position: absolute;
    display: block;
    height: 4px;
    background: white;
    width: 14px;
    left: 1px;
    top: 23px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.chevron-main i:nth-child(1) {
    transform: rotateZ(-45deg);
}

.chevron-main i:nth-child(2) {
    left: 9px;
    transform: rotateZ(45deg);
}

.question-anchor.collapsed .chevron-main i {
    top: 25px;
}

.question-anchor.collapsed .chevron-main i:nth-child(1) {
    transform: rotateZ(45deg);
}

.question-anchor.collapsed .chevron-main i:nth-child(2) {
    left: 9px;
    transform: rotateZ(-45deg);
}

.answer::before {
    content: "A.";
    font-family: 'Kalam', cursive;
    margin-right: 10px;
    float: left;
}

.collapse-parent > a:not(:first-child)::before {
    content: "";
    border-top: 2px lightgray solid;
    border-radius: 100%;
    width: 98%;
    height: 0;
    margin: 0 auto;
    display: block;
}

.collapse-parent > a > h3 {
    margin-top: 10px;
    max-width: 90%;
    max-width: calc(100% - 50px);
    display: inline-block;
}

.img-flex {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
}

.img-flex-divider, .contact-flex-divider {
    border-top: 3px solid rgba(255,255,255,0.6);
    border-radius: 49%;
    background-clip: padding-box;
    width: 80%;
    height: 0;
    margin: 0 auto;
    display: block;
}

.slide-four-expand .img-flex-divider, .contact-flex-divider {
    border-color: rgba(0,0,0,0.6);
}

.contact-flex-divider {
    margin-bottom: 30px;
}

div.img-flex:nth-of-type(even) {
    flex-direction: column;
}

.img-flex img {
    order: 1;
    width: 90%;
    height: auto;
    align-self: center;
    flex-shrink: 0;
    background-color: white;
    border: 1px solid #cbcbcb;
    box-shadow: 1px 1px 5px #999;
    padding: 5px;
}

.img-flex .img-flex-text {
    padding-left: 5px;
    padding-right: 5px;
    order: 0;
    text-align: center;
    -ms-flex: 0 1 auto;
}

.img-flex .img-flex-text p {
    width: 100%;
}

.img-flex h2 {
    margin-top: 0px;
}

.contact-flex {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.contact-flex-map {
    order: 0;
    align-self: center;
    flex-shrink: 1;
    width: 100%;
}

.contact-flex-map img {
    width: 100%;
    max-width: 900px;
    height: auto;
}

.contact-flex .contact-flex-text {
    order: 1;
    text-align: center;
    -ms-flex: 0 1 auto;
    align-self: center;
}

.packs-flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 30px;
    max-width: 1350px;
}

.packs-flex-col {
    flex: 100%;
    max-width: 100%;
    padding: 0 4px;
}

.packs-flex-img {
    position: relative;
}

.packs-flex-img img {
    width: 100%;
    max-width: 450px;
    height: auto;
    background-color: white;
    border: 1px solid #cbcbcb;
    box-shadow: 1px 1px 5px #999;
    padding: 5px;
    margin-top: 8px;
    transition: all 0.3s ease;
}

.packs-flex-img span {
    background: black;
    background: rgba(0,0,0,0.6);
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 12px);
    max-width: 438px;
    height: auto;
    margin: 6px;
    padding: 4px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 125%;
}

.packs-flex-img i.glyphicon {
    color: white;
    font-size: 24px;
    position: absolute;
    top: 25px;
    right: 18px;
    opacity: 0;
    transition: 0.3s all ease;
}

.packs-flex-img i.glyphicon.alt-colour {
    color: #222;
}

.packs-flex-img:hover i.glyphicon {
    opacity: 0;
}

.slide-five {
    text-align: center;
}

.slide-five .contact-list {
    display: inline-block;
    margin: 0 auto;
}

.slide-five .contact-list li {
    text-align: left;
}

.lightbox {
    z-index: 9999999;
}

.lightbox .lightbox-close {
    position: absolute;
    top: 5px;
    right: 20px;
    z-index: 99;
    font-size: 40px;
}

.lightbox a {
    text-decoration: none;
    color: white;
}

.lightbox[id="packs-lightbox_04"] a {
    color: #222;
}

.footer {
    background: #222;
    color: #fff;
    width: 100%;
    height: auto;
    padding: 10px 0px;
}

p.footer-link {
    display: inline-block;
}

p.footer-link a {
    color: #ddd;
}

p.footer-link:not(:first-child)::before {
    content: "|";
    padding: 0px 5px;
}

@media only screen and (min-width:768px) {
    .img-flex {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    div.img-flex:nth-of-type(even) {
        flex-direction: row-reverse;
    }

    .img-flex img {
        order: 0;
        width: 450px;
        height: auto;
        align-self: center;
    }

    .img-flex .img-flex-text {
        padding-left: 20px;
        padding-right: 20px;
        order: 1;
        text-align: left;
    }
    
    .img-flex h2 {
        margin-top: 30px;
    }

    div.img-flex:nth-of-type(even) .img-flex-text {
        padding-left: 20px;
        padding-right: 20px;
        text-align: right;
    }
    
    .packs-flex-col {
        flex: 50%;
        max-width: 50%;
    }
    
    .packs-flex-img:hover img {
        background-color: #7FDBFF;
        border-color: #888;
        box-shadow: 1px 1px 5px #444;
    }
    
    #mobilenavigation {
        display: none;
    }
    
    #navigation {
        position: fixed;
        top: 0;
        width: 100%;
        height: auto;
        background: rgb(0,0,0);
        background: rgba(0,0,0,0.7);
        z-index: 99999;
    }

    ul.main-navigation {
        list-style: none;
        display: block;
        margin: auto 0;
        position: relative;
        width: 100%;
        padding-top: 0px;
        text-align: center;
    }

    ul.main-navigation li {
        display: inline-block;
        text-align: center;
        padding: 14px 16px;
        color: #fff;
        transition: all 0.3s ease;
    }

    ul.main-navigation li:hover {
        background: rgba(0,0,0,0.9);
    }
    
    .contact-flex {
        flex-direction: row;
    }

    .contact-flex-map {
        order: 1;
        align-self: center;
        flex-shrink: 1;
        min-width: 50%;
        height: 100%;
    }
    
    .contact-flex-map .map {
        
    }

    .contact-flex .contact-flex-text {
        order: 0;
        /*width: 300px;*/
        -ms-flex: 0 1 auto;
    }
    
    .contact-flex:nth-of-type(even) .contact-flex-map {
        order: 0;
    }
    
    .contact-flex:nth-of-type(even) .contact-flex-text {
        order: 1;
    }
    
    img.gdpr-img {
        margin-top: 22px;
        width: 120px;
        cursor: pointer;
    }
    
    .packs-flex-img i.glyphicon {
        opacity: 1;
    }
    
    .packs-flex-img:hover i.glyphicon {
        opacity: 1;
    }
}

@media only screen and (min-width: 1200px) {
    .img-flex {
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    div.img-flex:nth-of-type(even) {
        flex-direction: row-reverse;
    }

    .img-flex img {
        order: 0;
        width: 450px;
        height: auto;
        align-self: center;
    }

    .img-flex .img-flex-text {
        padding-left: 20px;
        padding-right: 20px;
        order: 1;
        font-size: 125%;
    }

    div.img-flex:nth-of-type(even) .img-flex-text {
        padding-left: 20px;
        padding-right: 20px;
        text-align: right;
    }
    
    .packs-flex-col {
        flex: 33.33%;
        max-width: 33.33%;
    }
    
    .packs-flex-img span {
        opacity: 0;
        transition: all 0.3s ease;
    }
    
    .packs-flex-img:hover span {
        opacity: 1;
    }
    
    .packs-flex-img i.glyphicon {
        opacity: 0;
    }
    
    .packs-flex-img:hover i.glyphicon {
        opacity: 1;
    }
}

@media only screen and (max-width: 991px) {
    .content {
        margin-top: 20px;
        margin-left: 0px;
    }
    
    .slide-one {
        background: white;
    }
    
    .slide-two {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#277a96+0,448297+100 */
        background: #277a96; /* Old browsers */
        background: -moz-linear-gradient(top, hsla(195,59%,37%,1) 0%, hsla(195,38%,43%,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, hsla(195,59%,37%,1) 0%,hsla(195,38%,43%,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, hsla(195,59%,37%,1) 0%,hsla(195,38%,43%,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#277a96', endColorstr='#448297',GradientType=0 ); /* IE6-9 */
    }
    
    .slide-three {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8ebfe5+0,b5d0e6+100 */
        background: rgb(142,191,229); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(142,191,229,1) 0%, rgba(181,208,230,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(142,191,229,1) 0%,rgba(181,208,230,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(142,191,229,1) 0%,rgba(181,208,230,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ebfe5', endColorstr='#b5d0e6',GradientType=0 ); /* IE6-9 */
    }
    
    #schoolphotography_a {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8ebfe5+0,b5d0e6+100 */
        background: rgb(142,191,229); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(142,191,229,1) 0%, rgba(181,208,230,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(142,191,229,1) 0%,rgba(181,208,230,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(142,191,229,1) 0%,rgba(181,208,230,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8ebfe5', endColorstr='#b5d0e6',GradientType=0 ); /* IE6-9 */
    }
    
    #schoolphotography_b {
        background: url(../bg_img/draft2c_mobile_b.jpg) no-repeat center bottom;
        background-size: cover;
        display: block;
    }
    
    #about_a {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#277a96+0,448297+100 */
        background: #277a96; /* Old browsers */
        background: -moz-linear-gradient(top, hsla(195,59%,37%,1) 0%, hsla(195,38%,43%,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, hsla(195,59%,37%,1) 0%,hsla(195,38%,43%,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, hsla(195,59%,37%,1) 0%,hsla(195,38%,43%,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#277a96', endColorstr='#448297',GradientType=0 ); /* IE6-9 */
    }
    
    #about_b {
        background: url(../bg_img/about_us_mobile_b.jpg) no-repeat center bottom;
        background-size: cover;
        display: block;
    }
    
    #intro_a {
        background: white;
    }
    
    #intro_b {
        background: url(../bg_img/draft5_mobile_b.jpg) no-repeat center bottom;
        background-size: cover;
        display: block;
    }
    
    #idservices_a {
        background-color: white;
    }
    
    #idservices_b {
        background-color: white;
        background: url(../bg_img/id_mobile_b.jpg) no-repeat center bottom;
        background-size: cover;
        display: block;
    }
    
    .content h1 {
        font-size: 200%;
    }
    
    .content p {
        font-size: 100%;
    }
}